/*  <----- HOME TAG -----> */
#home-tab a:link,
#home-tab a:visited {
  color: #077799e3;
}

#home-tab a:hover,
#home-tab a:active {
  color: #09355ee3;
}

/*  <----- HOME OPENER -----> */

.main-container {
  width: 100%;
  display: block;
  margin-bottom: 24px;
  overflow: hidden;
  padding: 0 24px;
  position: absolute;
  box-sizing: inherit;
  text-align: center;
  height: 615px;
  max-height: 625px;
  background-color: rgb(16, 181, 223, 0.06);
}

#photo-container {
  display: block;
  position: relative;
  max-width: 100%;
  box-sizing: inherit;
  z-index: 1;
  text-align: center;
}

#wrapper-image {
  margin: 0;
  padding: 0;
}
#wrapper-image img {
  width: 625px;
  height: 625px;
  box-shadow: 0 2px 6px 4px rgb(0, 0, 0, 0.3);
  border: 20px solid #fff;
  display: inline-block;
  margin-block-start: 2.5em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

/* <----- TEXT -----> */
.opener {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 0 24px;
  text-align: left;
}

.opener p {
  font-style: italic;
}

#vivek {
  font-style: italic;
}
